[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

/* Main layout */

.app {
  width: 100%;
  display: flex;
}

.left {
  width: 230px;
  height: 100%;
  padding-bottom: 5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fakeLeft {
  width: 230px;
}

  /* Left bar  up start */

.leftUp {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 25px;
}

.leftUp > img {
  width: 131px;
  height: 40px;
  margin-bottom: 30px;
}

.nav {
  height: 40px;
}

.left a, p, i {
  color: gray;
  text-decoration: none;
  transition: 0.5s;
}

.left a {
  font-weight: bold;
  line-height: 100%;
}

.left a:hover {
  color: white;
}

.leftUp > p {
  font-size: 12px;
  font-weight: bold;
}

.left i {
  margin-right: 10px;
}

.recentTitle {
  font-size: 13px;
}

.recentInfo {
  font-size: 12px;
}

/* Left down nav start */

.leftDown {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
  margin-left: 25px;
}

.leftDown > a {
  margin-top: 20px;
}

/* right navbar start */
.right {
width: calc(100% - 230px);
background: #422D50;
}

.myNavbar {
  width: 100%;
  height: 70px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.myNavbar > a {
  margin: 20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #857A8D;
  transition: 0.5s;
}

.myNavbar > a:hover {
  color: white;
}

/* First container start */

.myContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 30px;
}

.title {
  padding-left: 90px;
  padding-right: 90px;
}

.title > h2 {
  font-weight: bold;
  color: white;
}

/* Square box start */

.box {
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 222px;
  height: 302px;
  margin: 10px;
}

.photo {
  width: 222px;
  height: 222px;
}

.photo > img {
  width: 100%;
}

.info {
  width: 222px;
  height: 80px;
  padding-top: 10px;
}

.info > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.info > p {
  color: darkgray;
  font-size: 14px;
  font-weight: bold;
}


/* Bottom nav start */

.bottom {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #181818;
  display: flex;
  justify-content: space-between;
}

/* Bottom left start */

.bottomLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 17px;
}

.bottomLeft > img {
  width: 55px;
  height: 55px;
}

.song {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

#songTitle {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

#songAuthor {
  text-decoration: none;
  color: gray;
  font-size: 12px;
  font-weight: bold;
}

.bottomLeft > a {
  padding-left: 15px;
}

/* Bottom center start */

.bottomCenter {
  display: flex;
  flex-direction: column;
}

.bottomCenterUp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomCenterUp > a {
  margin: 10px 20px;
}

.bottomCenterDown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

 .bottomCenterDown > input {
  width: 600px;
  background-color: red;
}

.bottomCenterDown > span {
  color: gray;
  margin: 5px;
}

/* Bottom right start */

.bottomRight {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 17px;
}

.bottomRight > input {
  width: 80px;
}

.bottomRight > a {
  margin: 10px;
}
